version: "3.3"

services:
  shop:
    image: shop:add-tracing
    container_name: shop
    build:
      dockerfile: Shop/Dockerfile
    ports:
      - "8180:8080"

  stock:
    image: stock:add-tracing
    container_name: stock
    build:
      dockerfile: Stock/Dockerfile
    ports:
      - "8280:8080"

  payments:
    image: payments:add-tracing
    container_name: payments
    build:
      dockerfile: Payments/Dockerfile
    ports:
      - "8380:8080"

  load-test:
    container_name: load-test
    build:
      dockerfile: LoadTest/Dockerfile

  seq:
    image: datalust/seq:latest
    container_name: seq
    environment:
      - ACCEPT_EULA=Y
    ports:
      - "5341:80"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=secret
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/var/lib/grafana/dashboards/home.json
    volumes:
      - ./grafana-data/dashboards:/var/lib/grafana/dashboards
      - ./grafana-data/datasources:/etc/grafana/provisioning/datasources
      - ./grafana-data/dashboards.yml:/etc/grafana/provisioning/dashboards/dashboards.yml
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "4317:4317"
      - "16686:16686"
